@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Odmowa dostępu";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Nie masz uprawnień do przeglądania tej strony!</p>
</header>
<div>
    <a asp-action="Index" class="btn btn-success">Powrót do strony głównej</a>
</div>
